<h1>ALL POSTS</h1>

<table class="table table-bordered table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Image</th>
            <th>Status</th>
            <th>Allow Comments</th>
            <th>Body</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody>
            
            {{#each posts}}
            <tr>
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td><img src="/uploads/{{file}}" alt="Image here" class="img-thumbnail"</td>
                <td>{{status}}</td>
                <td>{{allowComments}}</td>
                <td>{{body}}</td>
                <td>{{generateTime date 'MMMM Do YYYY'}}</td>
                <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Edit</a></td>
                <td>
                    <form action="/admin/posts/{{id}}?_method=DELETE" method="post">
                        <button type="submit" class="btn btn-danger">DELETE</button>
                    </form>
                </td>
            </tr>
            {{/each}}

        </tbody>
</table>